.header{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.subHeader{
    color:#555770;
}

.location{
    color: #000000;
    font-weight: 500;
}

.cardData{
    margin: 30px auto;
    width: 200px;
    height: auto;
    border-radius: 40px;
    padding: 10px;
    border: 1px solid #C7C8D9;
    margin: 6px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: 0.4s;
}

.cardData:hover {
    transform: scale(0.9, 0.9);
  }

  .webPages{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }